body {
	/*background-color: #F2EAE6;*/
  font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
}

.project-container {
	align-items: center;
	display: flex;
}

@media only screen and (max-width: 800px) {
	.content-container {
		margin: 20px;
	}

  .divider-container{
    margin: 0 20px 30px;
 }

.divider-img{
  width: 100%;
  }

	.project-container {
		flex-direction: column;
    margin: 0;
	}
	.project-overview {
		margin-left: 0;
    margin-bottom: 40px;
	}
	.project-img {
		width: 100%;
		max-height: 424px;
	}

	.project-label {
		margin-top: 16px;
	}

  #intro {
    margin: 60px 20px 0;
    max-width: 1080px;
  }

  .bigheadline{
  font-style:normal;
  font-weight:900;
  letter-spacing:-0.50px;
  font-size: 3.3em;
  color: #001E44;
  margin: 0;
  line-height:normal;
}

  footer {
    margin: 0 20px;
    max-width: 1080px;
  }

  #social {
    display: none;
  }

  .top-bar-home {
    display: none;
  }

  .top-bar-home p {
    display: none;
  }

}

@media only screen and (min-width: 800px) {
	.content-container {
		margin: 0 auto 80px;
		max-width: 1080px;
	}

  .project-container {
    margin: 0;
  }

	.project-overview {
		margin-left: 65px;
	}
	.project-img {
		/*width: 60%;*/
		max-height: 424px;
	}
	.project-label {
		margin-top: 16px;
	}

  #intro{
    margin: 150px auto 50px;
    max-width: 860px;
  }

  .bigheadline{
  font-style:normal;
  font-weight:900;
  letter-spacing:-0.50px;
  font-size: 3.3em;
  color: #001E44;
  margin: 0;
  line-height:normal;
}

.divider-container{
  margin: 0 auto 30px;
  max-width: 1080px;
}

.divider-img{
    position: relative;
    right: -50%;
  }

  #social{
    position: fixed;
    left: 30px;
    top: 30px;
  }

  footer{
    margin: 150px auto 40px;
    max-width: 1080px;
  }

  .top-bar-home .dot {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #51A384;
      float: left;
      margin: 35px 10px 0 0;
  }

  /*top-bar*/
  .top-bar-home {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      height: 80px;
      z-index: 1;
  }
}

.top-bar-home p {
    float: left;
    line-height: 0px;
    font-size: 0.8125em;
    padding: 26px 0;
    opacity: 1;
    color: #001E44;
    font-family: 'Poppins', sans-serif;
}

.top-bar-home.scrolled {
    opacity: 0;
    visibility: hidden;
    top: -5px;
}

.top-bar-home.false {
    display: none;
}



.tools:hover{
  transform: translateY(2px);
}


.container {
  margin: 0;
  padding: 0;
}

/*link style*/

.headcaption a{
  display: inline-block;
  color: #001E44;
  font-weight: 600;
  border-bottom: 2px solid #C15071;
  text-decoration: none;
}

.headcaption a:hover {
  text-decoration: none;
  transform: translateY(2px);
}

.headcaption a:active{
  color: #E63D61;
  text-decoration:none;
}

/*intro style*/

.headcaption{
  font-size:1.1em;
  font-style:normal;
  font-weight:300;
  letter-spacing:0.2px;
  color: #001E44;
  line-height: 1.7;
}

/*project styel*/

.project-content{
  float: left;
  padding: 120px 80px 0 30px;

}

.project-label{
    font-size:0.75em;
    font-style:normal;
    font-weight:800;
    letter-spacing:1.00px;
    line-height:13.0px;
    text-transform: uppercase;
	color: #C15071;
    /*color: #001E44;(*/
}

.project-title{
    font-style:normal;
    font-size: 2.6em;
    font-weight:900;
    letter-spacing:-0.50px;
    color: #001E44;
}

.project-caption{
    font-size:1em;
    font-style:normal;
    font-weight:300;
    line-height:24.0px;
    color: #001E44;
    letter-spacing: 0.2px;
    margin: 24px 0;
   }

.project-explore{
    font-size:1em;
    font-style:normal;
    font-weight:700;
    line-height:19.0px;
    color: #001E44;
   }

#copyright{
    font-size:0.875em;
    font-style:normal;
    font-weight:300;
    color: #001E44;
    letter-spacing: 0.2px;
    padding-top: 60px;
   }
